/* . para las clases
# para los id */
*{
	box-sizing: border-box;
}
body{
	/*background-color: aquamarine;*/
	margin: 0;
	background-image: url('../img/fondo1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-size: 100% 100%;

}

section{
	border: 1px solid grey; 
	height: 800px;
}

.menu{
	padding: 10px 10px;
	margin: 10px 0;
}

.btn{
	background: rgb(2, 114, 155);
	border: 10px;
	border-color: black;
	border-radius: 3px;
	color: black;
	padding: 5px 20px;
	margin: 10px 3px;
	text-decoration: none;
	font-size: 30px;
}

.seleccion{       /* estilo para que cuando le den click al boton se quede en color azul mientras el usuario esta en esa seccion */
	background: blue;
	color: white;
}

.div_tittle{
	/*background-color: black;*/
	padding: 5px 15px;
	margin: 10px 10px;
}

.titulo {
	color: aqua;
	font-family: monospace;
	font-style: normal;
	font-size: 80px;
	margin: 0;
	padding: 0;

}
.home{ /*contenedor del texto e imagen*/
	display: flex;
	/* justify-content: center;
 */
}
.div_txthome{ /*contenedor del texto a la izquierda*/
	word-wrap: break-word; /*Propiedad para que la letra no se desborde fuera del contenedor*/
	width: 800px;  /*Tamaño del contenedor*/
}

.txt_home{ /*texto dentro del contenedor*/
	display: table-cell;
	vertical-align: middle;	
	margin: 0;
	padding: 20px 3rem;
	font-size: 30px;
	color: white;
	
}

.div_imghome{ /*contenedor de la imagen a la derecha*/
	float: right;
	width: 500px;  /*Tamaño del contenedor*/
	height: 450px;
	margin-top: 20px;
	
}
.imghome{
	width: 40vw;
	border: 3px solid;
	border-radius: 5px;
	border-color: black;
}

.categorias{ /*contenedor de texto e imagen*/
	display: flex;
	justify-content: space-around;
} 

.div_txtcategoria{ /*contenedor del texto de categoria*/
	word-wrap: break-word; /*Propiedad para que la letra no se desborde fuera del contenedor*/
	width: 40vw;  /*Tamaño del contenedor*/
}

.listacat{
	display: table-cell;
	vertical-align: middle;
	/*padding: 20px 3rem;*/
	color: white;
	font-size: 30px;
	list-style-position: inside;
	text-align: left;	 
	padding-top: 50px;
}

.div_imgcategoria{ /*contenedor de la imagen de categoria*/
	padding-top: 40px;
	float: left;
	width: 40vw;  /*Tamaño del contenedor*/
}
.imgcat{
	width: 45vw;
	border: 3px solid;
	border-radius: 5px;
	border-color: black;
}
.reglas{
	display: flex;
	justify-content: center;
}

.div_txtreglas{
	text-align: left;
	word-wrap: break-word;
}

.div_txtacercade{
	display: flex;
	justify-content: center;
	color: white;
	font-size: 30px;
	word-wrap: break-word;
	float: center;
}

.upb{
	text-decoration: none;
	color: rgb(0, 0, 0);
}


