/* . para las clases
# para los id */
*{
	box-sizing: border-box;
}
body{
	/*background-color: aquamarine;*/
	margin: 0;
	background-image: url('../img/fondo.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-size: 100% 100%;

}

section{
	border: 1px solid grey; 
	height: 800px;
}

.menu{
	padding: 10px 10px;
	margin: 10px 0;
}

.btn{
	background: blueviolet;
	border: 10px;
	border-color: aqua;
	border-radius: 3px;
	color: white;
	padding: 5px 20px;
	margin: 10px 3px;
	text-decoration: none;
	font-size: 30px;
}

.seleccion{       /* estilo para que cuando le den click al boton se quede en color azul mientras el usuario esta en esa seccion */
	background: blue;
	color: white;
}

.div_tittle{
	/*background-color: black;*/
	padding: 5px 15px;
	margin: 10px 15px;
}

.titulo {
	color: aqua;
	font-family: monospace;
	font-style: normal;
	font-size: 80px;
	margin: 0px;
	padding: 0px;

}

.div_txthome{
	background-color: black;
	text-align: center;
	display: table;
	float: left;
	margin: 40px 30px 0 30px;
}

.txt_home{
	display: table-cell;	
	margin: 0;
	padding: 20px 3rem;
	font-size: 30px;
	color: white;
	vertical-align: middle;
}

.div_txtcategoria{
	background-color: black;
	text-align: center;
	display: table;
	margin: 40px 30px 0 30px;	
}

.txt_categoria{
	float: right;
    margin: 2rem 30px 0 30px;
	text-align: center;
	background-color: white;
	display: table-cell;
	vertical-align: middle;
}

.div_txtreglas{
	text-align: center;
}

.txt_regla{
	
}

.lista{
	color: white;
	font-size: 30px;
	list-style-position: inside;
	text-align: left;
	padding-right: 20px;
	padding-top: 50px;
	float: right;
	vertical-align: text-top;
}

.imgcat{
	width: 1000px;
	height: 520px;
	object-fit: cover;
}
